---
const {title, description, canonical, image} = Astro.props
import { SITE_URL, PUBLIC_SITE_IMG } from "../utils/constants"

const canonicalURL = canonical
	? new URL(canonical, Astro.site)
	: SITE_URL

const img = image ? image : PUBLIC_SITE_IMG
---

<title>{title}</title>
<meta charset="UTF-8" />
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="./favicon.avif" />
<link rel='sitemap' href='/sitemap-index.xml'/>
<meta name="author" content="Rafa Canosa" />
<meta name="robots" content="index, follow" />
<meta name="language" content="en" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />



<meta name="google-site-verification" content="8Ssu9wyMqGLnOHp01rAbY2QJAKTU4XkqTq9OPShpeOc" />
<meta name="generator" content={Astro.generator} />

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content={canonicalURL}>
	<meta property="og:type" content="website">
	<meta property="og:title" content={title}>
	<meta property="og:description" content={description}>
	<meta property="og:image" content={img}>
	
	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content={canonicalURL}>
	<meta property="twitter:url" content={canonicalURL}>
	<meta name="twitter:title" content={title}>
	<meta name="twitter:description" content={description}>
	<meta name="twitter:image" content={img}>

